/* style untuk block element */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
/*style untuk block element*/

.block-element{
    background-color: aliceblue;
    margin: 2px 0; 
    padding: 20px;/*salah satu syarat block element*/
    border: 1px solid rgb(55, 176, 197);
    width: 100%;/*syarat lanjutan dari block element => tampilan penuh satu baris layar*/
}

.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

section.block-element{
    flex: 0 0 70%;
}

/* nav.block-element{
    float: left;
    width: 60%;
} */

.sidebar{
    float: right;
    width: 60%;
}
.inline-element{
    background-color: aliceblue;
    padding: 2px 5px;
    border: 1px solid rgb(55, 176, 197);
}

nav a{
    color: blueviolet;
    padding: 5px 10px;
    border: 1px solid rgb(55, 176, 197);;
    background-color: aqua;
}

nav a:hover{
    text-decoration: none;
}