/* contoh selector tag pada external */

h3{
    color: #e85c0d;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
}
ul, li{
    text-decoration: none;
    /*list-style: none;*/
}
table{
    border: 10px;
    margin: auto;
}
tr{
    padding: 5px;
    border: 1px solid green;
}
/* hover adalah salah satu library element yang dimiliki css untuk mengubah kondisi tertentu ketika mouse berada di sebuah tag*/
tr:hover{
    background-color: blue;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#paragrafh{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10;
    color: rgb(47, 0, 255);
}