/*contoh selector tag pada eksternal*/

h3{
    color: rgb(71, 221, 221);
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
}

body{
    background-color: aliceblue;
}
ul, li {
    text-decoration: none;
    /* list-style: none;*/
}
table{
    border: 10px solid green;
    margin: auto;
}
tr{
    padding: 5px;
    border: 1px solid green;
}
/*hover adalah salah satu library(pseudo elemen yang dimiliki css untuk mengubah kondisi tertentu ketika mouse melayang di tag yang dituju.*/
tr:hover{
    background-color: blue;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}